#loc_table{
   text-decoration: none;
   color:black;
}
#avata-users{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;align-items: center;
}
.render_avata{
   width: 130px;
    height: 130px;
}
#img-avata{
   width: 100%;
   height: 100%;
   /* object-fit: contain; */
   object-fit: cover;

}
#cart_content_h h3{
   color: #0b0217;
}
#cart_content_h:hover {
   text-decoration: none;
}
#card_content_price{
   font-size: 18px;
   color: red;
}
#card_content_txt{
   font-size: 0.9rem;
   margin: 20px 0;
}
.page_select{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   /* margin: 10px auto; */
   width: auto;
   height: auto;
}
.but_avata{
      text-align: center;
      height: 50px;
      width: 50px;
}